.nav1{
    display:flex;
    justify-content: space-between;
    background-color: azure;
    // border-bottom: 1px solid red;

    img{
        width:60px;
    }
    a{
        text-decoration: none;
        color:black;
    }
    .navi{
        display:flex;
        gap:20px;
        align-items:center;  
        padding:5px;
      }
}
.mainnav{
    display:flex;
    justify-content:space-between;
    gap:15px;
    padding-bottom:5px;
    padding-top:5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    a{
        text-decoration: none;
        color:black;
        padding:5px;
    }
}
footer{
    margin-top:5px;
    margin-bottom:10px;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    gap:10px;

    .legals{
        text-align: center  ;
    }
    
    a{
        text-decoration: none;
        color:white;
    }
    .foot{
        display:flex;
        align-items:center;
        justify-content:space-around;
        gap:10px; 
        padding-top:5px;
        padding-bottom:5px;
        
    }
    img{
        width:40px;
    }
    .footer1{
        display: grid;
    }
}
.social{
    align-items: center;
    display:flex;
    grid-template-columns: repeat(6,1fr);
    justify-content: center;
    gap:40px;
    // justify-content: center;
    padding-top:5px;
    padding-bottom:5px;
    background-color: black;
    img{
        width:50px;
    }
}
.container{
    // width:100%;
    gap:5px;
    position:relative;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    
    img{
        margin-top:20px;
        width:100%;
    }
}
.food{
    .overlay{
        background-color: rgba(0, 0, 0, 0.5);
        width:100%;
        padding-bottom:5%;

    }
    .text{
        position:relative;
        bottom:12%;
        font-size: 20px;
        color: white;
        text-align: center;
        padding-top:10px;
        padding-bottom:10px;
    }
}

@media screen and (width<834px){
    .container{
        grid-template-columns:repeat(2,1fr);

    }
}
@media screen and (width<=480px){
    .container{
        grid-template-columns:repeat(1,1fr);

    }
}
    
